In [1]:
import numpy as np
import pandas as pd

# 2019

In [2]:
dataAirbnb2019 = pd.read_excel('D://Master/SSP/Projekat/data/raw/2019/Airbnb_2019.xlsx')

In [3]:
dataAirbnb2019.head()

,Confirmation code,Status,Guest name,# of adults,# of children,# of infants,Start date,End date,# of nights,Booked,Listing,Earnings,Listing name,Grade
0,HMAMP59PS4,Confirmed,Youstina Daoud,2,0,0,2019-06-03,2019-06-05,2,2019-03-30,Beautiful studio with patio 5 min. to old town,â‚¬67.90,B,NaN
1,HMAMHWYDSW,Confirmed,Kristina Holm Jensen,2,0,0,2019-06-05,2019-06-07,2,2019-05-05,Beautiful studio with patio 5 min. to old town,â‚¬67.90,B,8.0
2,HMAC8EWZ3P,Confirmed,Ã–znur Balaban,2,0,0,2019-06-08,2019-06-09,1,2019-04-09,Beautiful studio with patio 5 min. to old town,â‚¬33.95,B,NaN
3,HMANF23QWC,Confirmed,Steve Qj,1,0,0,2019-06-10,2019-06-11,1,2019-06-01,Beautiful studio with patio 5 min. to old town,â‚¬33.95,B,NaN
4,HMACJE5D9D,Confirmed,Quinten Spakman,2,0,0,2019-06-13,2019-06-15,2,2019-05-04,Beautiful studio with patio 5 min. to old town,â‚¬67.90,B,7.0

In [4]:
dataAirbnb2019['Advertiser'] = 'Airbnb'

In [5]:
dataAirbnb2019 = dataAirbnb2019[dataAirbnb2019['Booked'] <= dataAirbnb2019['Start date']]
dataAirbnb2019 = dataAirbnb2019[dataAirbnb2019['Start date'] < dataAirbnb2019['End date']]
dataAirbnb2019['Start date'] = pd.to_datetime(dataAirbnb2019['Start date']).dt.strftime('%d.%m.%Y')
dataAirbnb2019['End date'] = pd.to_datetime(dataAirbnb2019['End date']).dt.strftime('%d.%m.%Y')
dataAirbnb2019['Booked'] = pd.to_datetime(dataAirbnb2019['Booked']).dt.strftime('%d.%m.%Y')

In [6]:
dataAirbnb2019.head()

,Confirmation code,Status,Guest name,# of adults,# of children,# of infants,Start date,End date,# of nights,Booked,Listing,Earnings,Listing name,Grade,Advertiser
0,HMAMP59PS4,Confirmed,Youstina Daoud,2,0,0,03.06.2019,05.06.2019,2,30.03.2019,Beautiful studio with patio 5 min. to old town,â‚¬67.90,B,NaN,Airbnb
1,HMAMHWYDSW,Confirmed,Kristina Holm Jensen,2,0,0,05.06.2019,07.06.2019,2,05.05.2019,Beautiful studio with patio 5 min. to old town,â‚¬67.90,B,8.0,Airbnb
2,HMAC8EWZ3P,Confirmed,Ã–znur Balaban,2,0,0,08.06.2019,09.06.2019,1,09.04.2019,Beautiful studio with patio 5 min. to old town,â‚¬33.95,B,NaN,Airbnb
3,HMANF23QWC,Confirmed,Steve Qj,1,0,0,10.06.2019,11.06.2019,1,01.06.2019,Beautiful studio with patio 5 min. to old town,â‚¬33.95,B,NaN,Airbnb
4,HMACJE5D9D,Confirmed,Quinten Spakman,2,0,0,13.06.2019,15.06.2019,2,04.05.2019,Beautiful studio with patio 5 min. to old town,â‚¬67.90,B,7.0,Airbnb

In [7]:
dataAirbnb2019.shape

(19, 15)

In [8]:
dataAirbnb2019.drop_duplicates(subset=['Confirmation code'], keep='first', inplace=True)

In [9]:
dataAirbnb2019['Status'].unique()

array(['Confirmed'], dtype=object)

In [10]:
dataAirbnb2019['Guest name'].unique()

array(['Youstina Daoud', 'Kristina Holm Jensen', 'Ã–znur Balaban',
       'Steve Qj', 'Quinten Spakman', 'ÐœÐ¸Ñ…Ð°Ð¸Ð» ÐšÐ¾Ð´Ð¾Ð»Ð¾Ð²',
       'Egor Zhidkov', 'Darren Millett', 'Maurizio Biasin',
       'Marion Collin', 'CÃ©dric Evain', 'Michael Ernst', 'Louise Morgan',
       'Vitali Weizel', 'Manon Pelca', 'Don Loh', 'Nathalia Lara',
       'Janie Macpherson', 'Georges Paslier'], dtype=object)

In [11]:
dataAirbnb2019['Guest name'].fillna('', inplace=True)
dataAirbnb2019['Guest name'] = dataAirbnb2019['Guest name'].str.title()

In [12]:
dataAirbnb2019['# of adults'].unique()

array([2, 1], dtype=int64)

In [13]:
dataAirbnb2019['# of children'] = dataAirbnb2019['# of children'] + dataAirbnb2019['# of infants']
dataAirbnb2019['# of people'] = dataAirbnb2019['# of adults'] + dataAirbnb2019['# of children']

In [14]:
dataAirbnb2019.drop('# of infants', axis=1, inplace=True)

In [15]:
dataAirbnb2019.head()

,Confirmation code,Status,Guest name,# of adults,# of children,Start date,End date,# of nights,Booked,Listing,Earnings,Listing name,Grade,Advertiser,# of people
0,HMAMP59PS4,Confirmed,Youstina Daoud,2,0,03.06.2019,05.06.2019,2,30.03.2019,Beautiful studio with patio 5 min. to old town,â‚¬67.90,B,NaN,Airbnb,2
1,HMAMHWYDSW,Confirmed,Kristina Holm Jensen,2,0,05.06.2019,07.06.2019,2,05.05.2019,Beautiful studio with patio 5 min. to old town,â‚¬67.90,B,8.0,Airbnb,2
2,HMAC8EWZ3P,Confirmed,Ã–Znur Balaban,2,0,08.06.2019,09.06.2019,1,09.04.2019,Beautiful studio with patio 5 min. to old town,â‚¬33.95,B,NaN,Airbnb,2
3,HMANF23QWC,Confirmed,Steve Qj,1,0,10.06.2019,11.06.2019,1,01.06.2019,Beautiful studio with patio 5 min. to old town,â‚¬33.95,B,NaN,Airbnb,1
4,HMACJE5D9D,Confirmed,Quinten Spakman,2,0,13.06.2019,15.06.2019,2,04.05.2019,Beautiful studio with patio 5 min. to old town,â‚¬67.90,B,7.0,Airbnb,2

In [16]:
dataAirbnb2019['Start date'].unique()

array(['03.06.2019', '05.06.2019', '08.06.2019', '10.06.2019',
       '13.06.2019', '16.06.2019', '20.06.2019', '13.07.2019',
       '15.07.2019', '07.08.2019', '12.08.2019', '21.08.2019',
       '22.08.2019', '25.08.2019', '29.08.2019', '02.09.2019',
       '08.09.2019', '18.09.2019', '24.09.2019'], dtype=object)

In [17]:
dataAirbnb2019['End date'].unique()

array(['05.06.2019', '07.06.2019', '09.06.2019', '11.06.2019',
       '15.06.2019', '20.06.2019', '22.06.2019', '14.07.2019',
       '16.07.2019', '12.08.2019', '15.08.2019', '22.08.2019',
       '25.08.2019', '27.08.2019', '02.09.2019', '03.09.2019',
       '09.09.2019', '23.09.2019', '26.09.2019'], dtype=object)

In [18]:
dataAirbnb2019['# of nights'].unique()

array([2, 1, 4, 5, 3], dtype=int64)

In [19]:
dataAirbnb2019['Booked'].unique()

array(['30.03.2019', '05.05.2019', '09.04.2019', '01.06.2019',
       '04.05.2019', '01.05.2019', '28.03.2019', '24.05.2019',
       '07.05.2019', '02.06.2019', '04.06.2019', '12.07.2019',
       '27.05.2019', '09.06.2019', '30.06.2019', '17.08.2019',
       '30.07.2019', '02.05.2019', '19.06.2019'], dtype=object)

In [20]:
dataAirbnb2019['Listing'].unique()

array(['Beautiful studio with patio 5 min. to old town'], dtype=object)

In [21]:
dataAirbnb2019['Earnings'] = dataAirbnb2019['Earnings'].str.extract(r'(\d+.\d+)').astype(float)
dataAirbnb2019['Earnings'] = round(dataAirbnb2019['Earnings'].astype(float) - dataAirbnb2019['# of nights']*dataAirbnb2019['# of people'], 2)

In [22]:
dataAirbnb2019.head()

,Confirmation code,Status,Guest name,# of adults,# of children,Start date,End date,# of nights,Booked,Listing,Earnings,Listing name,Grade,Advertiser,# of people
0,HMAMP59PS4,Confirmed,Youstina Daoud,2,0,03.06.2019,05.06.2019,2,30.03.2019,Beautiful studio with patio 5 min. to old town,63.90,B,NaN,Airbnb,2
1,HMAMHWYDSW,Confirmed,Kristina Holm Jensen,2,0,05.06.2019,07.06.2019,2,05.05.2019,Beautiful studio with patio 5 min. to old town,63.90,B,8.0,Airbnb,2
2,HMAC8EWZ3P,Confirmed,Ã–Znur Balaban,2,0,08.06.2019,09.06.2019,1,09.04.2019,Beautiful studio with patio 5 min. to old town,31.95,B,NaN,Airbnb,2
3,HMANF23QWC,Confirmed,Steve Qj,1,0,10.06.2019,11.06.2019,1,01.06.2019,Beautiful studio with patio 5 min. to old town,32.95,B,NaN,Airbnb,1
4,HMACJE5D9D,Confirmed,Quinten Spakman,2,0,13.06.2019,15.06.2019,2,04.05.2019,Beautiful studio with patio 5 min. to old town,63.90,B,7.0,Airbnb,2

In [23]:
dataAirbnb2019['Listing name'].unique()

array(['B'], dtype=object)

In [24]:
dataAirbnb2019['Grade'].fillna(0, inplace=True)

In [25]:
dataAirbnb2019.columns

Index(['Confirmation code', 'Status', 'Guest name', '# of adults',
       '# of children', 'Start date', 'End date', '# of nights', 'Booked',
       'Listing', 'Earnings', 'Listing name', 'Grade', 'Advertiser',
       '# of people'],
      dtype='object')

In [26]:
dataAirbnb2019['Listing'].unique()

array(['Beautiful studio with patio 5 min. to old town'], dtype=object)

In [27]:
# dataAirbnb2019['Price_€'] = round(dataAirbnb2019['Earnings'].astype(float)*0.92, 2)
# dataAirbnb2019['Price_RSD'] = round(dataAirbnb2019['Earnings'].astype(float)*107.76, 2)

In [28]:
dataAirbnb2019.rename(columns={'Confirmation code': 'Book Number', 
                            'Guest name': 'Guest Name', 
                            '# of adults': 'NumberOfAdults', 
                            '# of children': 'NumberOfChildren', 
                            'Start date' : 'Start Date',
                            'End date': 'End Date',
                            '# of nights': 'NumberOfNights',
                            'Booked': 'Booked On',
                            'Listing': 'Accommodation',
                            'Listing name': 'Accommodation Type',
                            '# of people': 'NumberOfPeople',
                            'Earnings': 'Price_DOLLAR'}, inplace=True)

In [29]:
dataAirbnb2019.columns

Index(['Book Number', 'Status', 'Guest Name', 'NumberOfAdults',
       'NumberOfChildren', 'Start Date', 'End Date', 'NumberOfNights',
       'Booked On', 'Accommodation', 'Price_DOLLAR', 'Accommodation Type',
       'Grade', 'Advertiser', 'NumberOfPeople'],
      dtype='object')

In [30]:
dataAirbnb2019.head()

,Book Number,Status,Guest Name,NumberOfAdults,NumberOfChildren,Start Date,End Date,NumberOfNights,Booked On,Accommodation,Price_DOLLAR,Accommodation Type,Grade,Advertiser,NumberOfPeople
0,HMAMP59PS4,Confirmed,Youstina Daoud,2,0,03.06.2019,05.06.2019,2,30.03.2019,Beautiful studio with patio 5 min. to old town,63.90,B,0.0,Airbnb,2
1,HMAMHWYDSW,Confirmed,Kristina Holm Jensen,2,0,05.06.2019,07.06.2019,2,05.05.2019,Beautiful studio with patio 5 min. to old town,63.90,B,8.0,Airbnb,2
2,HMAC8EWZ3P,Confirmed,Ã–Znur Balaban,2,0,08.06.2019,09.06.2019,1,09.04.2019,Beautiful studio with patio 5 min. to old town,31.95,B,0.0,Airbnb,2
3,HMANF23QWC,Confirmed,Steve Qj,1,0,10.06.2019,11.06.2019,1,01.06.2019,Beautiful studio with patio 5 min. to old town,32.95,B,0.0,Airbnb,1
4,HMACJE5D9D,Confirmed,Quinten Spakman,2,0,13.06.2019,15.06.2019,2,04.05.2019,Beautiful studio with patio 5 min. to old town,63.90,B,7.0,Airbnb,2

In [31]:
dataAirbnb2019['Accommodation'].unique()

array(['Beautiful studio with patio 5 min. to old town'], dtype=object)

In [32]:
dataAirbnb2019['Accommodation'] = dataAirbnb2019['Accommodation'].replace({'Beautiful studio with patio 5 min. to old town': 'Studio with Patio'})

In [33]:
dataAirbnb2019['Accommodation'].unique()

array(['Studio with Patio'], dtype=object)

In [34]:
dataAirbnb2019['NumberOfPeople'].unique()

array([2, 1], dtype=int64)

In [35]:
def processing(dataAirbnb):
    dataAirbnb['Advertiser'] = 'Airbnb'
    
    dataAirbnb = dataAirbnb[dataAirbnb['Booked'] <= dataAirbnb['Start date']]
    dataAirbnb = dataAirbnb[dataAirbnb['Start date'] < dataAirbnb['End date']]
    dataAirbnb['Start date'] = pd.to_datetime(dataAirbnb['Start date']).dt.strftime('%d.%m.%Y')
    dataAirbnb['End date'] = pd.to_datetime(dataAirbnb['End date']).dt.strftime('%d.%m.%Y')
    dataAirbnb['Booked'] = pd.to_datetime(dataAirbnb['Booked']).dt.strftime('%d.%m.%Y')
    
    dataAirbnb.drop_duplicates(subset=['Confirmation code'], keep='first', inplace=True)
    
    dataAirbnb['Guest name'].fillna('', inplace=True)
    dataAirbnb['Guest name'] = dataAirbnb['Guest name'].str.title()
    
    dataAirbnb['# of children'] = dataAirbnb['# of children'] + dataAirbnb['# of infants']
    dataAirbnb['# of people'] = dataAirbnb['# of adults'] + dataAirbnb['# of children']
    
    dataAirbnb.drop('# of infants', axis=1, inplace=True)
    
    dataAirbnb['Earnings'] = dataAirbnb['Earnings'].str.extract(r'(\d+.\d+)').astype(float)
    dataAirbnb['Earnings'] = round(dataAirbnb['Earnings'].astype(float) - dataAirbnb['# of nights']*dataAirbnb['# of people'], 2)
    
    mapping = {'A': 'One-Bedroom Apartment with Balcony and Sea View', 
               'B': 'Studio with Patio', 
               'C': 'Studio with Patio and Sea View',
               'D': 'One-Bedroom Apartment with Patio and Sea View'}

    dataAirbnb['Accommodation'] = dataAirbnb['Listing name'].replace(mapping)
    dataAirbnb.drop('Listing', axis=1, inplace=True)
    
    dataAirbnb['Grade'].fillna(0, inplace=True)
    
#     dataAirbnb['Price_€'] = round(dataAirbnb['Earnings'].astype(float)*0.92, 2)
#     dataAirbnb['Price_RSD'] = round(dataAirbnb['Earnings'].astype(float)*107.76, 2)
    
    dataAirbnb.rename(columns={'Confirmation code': 'Book Number', 
                            'Guest name': 'Guest Name', 
                            '# of adults': 'NumberOfAdults', 
                            '# of children': 'NumberOfChildren', 
                            'Start date' : 'Start Date',
                            'End date': 'End Date',
                            '# of nights': 'NumberOfNights',
                            'Booked': 'Booked On',
                            'Listing name': 'Accommodation Type',
                            '# of people': 'NumberOfPeople',
                            'Earnings': 'Price_DOLLAR'}, inplace=True)
    
    return dataAirbnb

# 2020

In [36]:
dataAirbnb2020 = pd.read_excel('D://Master/SSP/Projekat/data/raw/2020/Airbnb_2020.xlsx')

In [37]:
data2Airbnb2019 = pd.read_excel('D://Master/SSP/Projekat/data/raw/2019/Airbnb_2019.xlsx')

In [38]:
not_common_columns = set(data2Airbnb2019.columns).symmetric_difference(set(dataAirbnb2020.columns))

print("Columns not common:", not_common_columns)

Columns not common: set()

In [39]:
dataAirbnb2020.head()

,Confirmation code,Status,Guest name,# of adults,# of children,# of infants,Start date,End date,# of nights,Booked,Listing,Earnings,Listing name,Grade
0,HMTZSQP8RH,Confirmed,Shaylynn Jaimie,2,0,0,2020-07-21,2020-07-22,1,2020-01-14,Beautiful studio with patio 5 min. to old town,â‚¬43.65,B,9.0
1,HMA2W5RWEW,Confirmed,Aamir Khan,2,0,0,2020-06-26,2020-06-27,1,2020-01-21,Beautiful studio with patio 5 min. to old town,â‚¬33.95,B,NaN
2,HMNCPSDN85,Confirmed,Dora Barczy,2,0,0,2020-06-22,2020-06-25,3,2020-01-29,Beautiful studio with patio 5 min. to old town,â‚¬101.85,B,NaN
3,HMSX2XZYJP,Confirmed,Jack Surgey,2,0,0,2020-08-11,2020-08-12,1,2020-01-31,Beautiful studio with patio 5 min. to old town,â‚¬46.56,B,9.0
4,HM2W9FZH4D,Confirmed,Jeremi Simoes Gil,2,0,0,2020-07-13,2020-07-17,4,2020-02-01,Beautiful studio with patio 5 min. to old town,â‚¬174.60,B,8.0

In [40]:
dataAirbnb2020 = processing(dataAirbnb2020)

In [41]:
dataAirbnb2020

,Book Number,Status,Guest Name,NumberOfAdults,NumberOfChildren,Start Date,End Date,NumberOfNights,Booked On,Price_DOLLAR,Accommodation Type,Grade,Advertiser,NumberOfPeople,Accommodation
0,HMTZSQP8RH,Confirmed,Shaylynn Jaimie,2,0,21.07.2020,22.07.2020,1,14.01.2020,41.65,B,9.0,Airbnb,2,Studio with Patio
1,HMA2W5RWEW,Confirmed,Aamir Khan,2,0,26.06.2020,27.06.2020,1,21.01.2020,31.95,B,0.0,Airbnb,2,Studio with Patio
2,HMNCPSDN85,Confirmed,Dora Barczy,2,0,22.06.2020,25.06.2020,3,29.01.2020,95.85,B,0.0,Airbnb,2,Studio with Patio
3,HMSX2XZYJP,Confirmed,Jack Surgey,2,0,11.08.2020,12.08.2020,1,31.01.2020,44.56,B,9.0,Airbnb,2,Studio with Patio
4,HM2W9FZH4D,Confirmed,Jeremi Simoes Gil,2,0,13.07.2020,17.07.2020,4,01.02.2020,166.60,B,8.0,Airbnb,2,Studio with Patio
5,HMDRCFT8FK,Confirmed,Lucas Haitsma,2,0,25.08.2020,26.08.2020,1,08.03.2020,41.65,B,0.0,Airbnb,2,Studio with Patio

In [42]:
dataAirbnb2020['NumberOfNights'].unique()

array([1, 3, 4], dtype=int64)

In [43]:
not_common_columns = set(dataAirbnb2019.columns).symmetric_difference(set(dataAirbnb2020.columns))

print("Columns not common:", not_common_columns)

Columns not common: set()

# 2021

In [44]:
dataAirbnb2021 = pd.read_excel('D://Master/SSP/Projekat/data/raw/2021/Airbnb_2021.xlsx')

In [45]:
data2Airbnb2019 = pd.read_excel('D://Master/SSP/Projekat/data/raw/2019/Airbnb_2019.xlsx')

In [46]:
not_common_columns = set(data2Airbnb2019.columns).symmetric_difference(set(dataAirbnb2021.columns))

print("Columns not common:", not_common_columns)

Columns not common: set()

In [47]:
dataAirbnb2021.head()

,Confirmation code,Status,Guest name,# of adults,# of children,# of infants,Start date,End date,# of nights,Booked,Listing,Earnings,Listing name,Grade
0,HMZ2M9EKKE,Arriving in 49 days,Pam Hayward,2,0,0,2021-07-08,2021-07-11,3,2020-10-28,Beautiful studio with patio 5 min. to old town,â‚¬94.09,B,NaN
1,HMCS5YZ32C,Arriving in 82 days,Marie Thomas,2,0,0,2021-08-10,2021-08-11,1,2021-05-14,Beautiful studio with patio 5 min. to old town,â‚¬38.80,B,8.0
2,HMHRYN3F33,Arriving in 13 days,Bernard Leocat,2,0,0,2021-06-02,2021-06-03,1,2021-05-18,Beautiful studio with patio 5 min. to old town,â‚¬27.96,B,NaN
3,HM92T28999,Confirmed,Андрій Щур,2,0,0,2021-07-07,2021-07-15,8,2021-06-08,Beautiful studio with patio 5 min. to old town,â‚¬263.84,B,NaN
4,HMTDN4C2P5,Arriving tomorrow,Maksym Podgayskyy,1,0,0,2021-06-27,2021-06-28,1,2021-06-17,Beautiful studio with patio 5 min. to old town,â‚¬28.13,B,7.0

In [48]:
dataAirbnb2021 = processing(dataAirbnb2021)

In [49]:
dataAirbnb2021.head()

,Book Number,Status,Guest Name,NumberOfAdults,NumberOfChildren,Start Date,End Date,NumberOfNights,Booked On,Price_DOLLAR,Accommodation Type,Grade,Advertiser,NumberOfPeople,Accommodation
0,HMZ2M9EKKE,Arriving in 49 days,Pam Hayward,2,0,08.07.2021,11.07.2021,3,28.10.2020,88.09,B,0.0,Airbnb,2,Studio with Patio
1,HMCS5YZ32C,Arriving in 82 days,Marie Thomas,2,0,10.08.2021,11.08.2021,1,14.05.2021,36.80,B,8.0,Airbnb,2,Studio with Patio
2,HMHRYN3F33,Arriving in 13 days,Bernard Leocat,2,0,02.06.2021,03.06.2021,1,18.05.2021,25.96,B,0.0,Airbnb,2,Studio with Patio
3,HM92T28999,Confirmed,Андрій Щур,2,0,07.07.2021,15.07.2021,8,08.06.2021,247.84,B,0.0,Airbnb,2,Studio with Patio
4,HMTDN4C2P5,Arriving tomorrow,Maksym Podgayskyy,1,0,27.06.2021,28.06.2021,1,17.06.2021,27.13,B,7.0,Airbnb,1,Studio with Patio

In [50]:
dataAirbnb2021['Status'].unique()

array(['Arriving in 49 days', 'Arriving in 82 days',
       'Arriving in 13 days', 'Confirmed', 'Arriving tomorrow'],
      dtype=object)

In [51]:
dataAirbnb2021['Status'] = dataAirbnb2021['Status'].replace({'Arriving in 49 days': 'Arriving', 
                                                             'Arriving in 82 days' : 'Arriving',
                                                             'Arriving tomorrow' : 'Arriving',
                                                             'Arriving in 13 days' : 'Arriving'})

In [52]:
dataAirbnb2021['Status'].unique()

array(['Arriving', 'Confirmed'], dtype=object)

In [53]:
dataAirbnb2021['NumberOfPeople'].unique()

array([2, 1], dtype=int64)

In [54]:
not_common_columns = set(dataAirbnb2019.columns).symmetric_difference(set(dataAirbnb2020.columns))

print("Columns not common:", not_common_columns)

Columns not common: set()

# 2022

In [55]:
dataAirbnb2022 = pd.read_excel('D://Master/SSP/Projekat/data/raw/2022/Airbnb_2022.xlsx')

In [56]:
data2Airbnb2019 = pd.read_excel('D://Master/SSP/Projekat/data/raw/2019/Airbnb_2019.xlsx')

In [57]:
not_common_columns = set(data2Airbnb2019.columns).symmetric_difference(set(dataAirbnb2022.columns))

print("Columns not common:", not_common_columns)

Columns not common: {'Contact'}

In [58]:
dataAirbnb2022['Listing'].unique()

array(['Beautiful studio with patio 5 min. to old town',
       'Apartment with balcony and sea view',
       'Studio with partial sea view 5 min to old town',
       'Apartment with patio and sea view'], dtype=object)

In [59]:
dataAirbnb2022 = processing(dataAirbnb2022)

In [60]:
dataAirbnb2022

,Book Number,Status,Guest Name,Contact,NumberOfAdults,NumberOfChildren,Start Date,End Date,NumberOfNights,Booked On,Price_DOLLAR,Accommodation Type,Grade,Advertiser,NumberOfPeople,Accommodation
0,HM8B28DTWD,Confirmed,Pam Hayward,+27 83 226 9181,2,0,27.06.2022,29.06.2022,2,28.10.2020,357.50,B,0.0,Airbnb,2,Studio with Patio
1,HMFPRXB5Y5,Confirmed,Jacques Rall,+49 170 5236337,2,0,13.06.2022,15.06.2022,2,09.04.2022,219.65,A,0.0,Airbnb,2,One-Bedroom Apartment with Balcony and Sea View
2,HMBPTJDCHT,Confirmed,Wander Engbers,+31 31625642536,2,0,24.07.2022,26.07.2022,2,10.04.2022,82.76,C,9.0,Airbnb,2,Studio with Patio and Sea View
3,HMRE38CFN8,Confirmed,Christophe Loyer,+33 6 43 39 11 81,2,0,21.06.2022,25.06.2022,4,13.04.2022,78.76,D,0.0,Airbnb,2,One-Bedroom Apartment with Patio and Sea View
4,HMEWN8KJWY,Confirmed,Rishabh Gupta,+91 99563 58674,2,0,06.06.2022,08.06.2022,2,14.04.2022,208.08,C,0.0,Airbnb,2,Studio with Patio and Sea View
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,HMR8DBBH2J,Confirmed,Sebastian Kolesnik,+44 7902 892430,1,0,01.10.2022,04.10.2022,3,11.09.2022,98.85,C,0.0,Airbnb,1,Studio with Patio and Sea View
75,HMX9KZXWWS,Confirmed,Sawan Shah,+44 7391 733964,2,0,07.10.2022,10.10.2022,3,12.09.2022,95.85,C,0.0,Airbnb,2,Studio with Patio and Sea View
76,HMA2S8MTHY,Confirmed,Tomer Patito,+972 58-444-7959,2,0,03.10.2022,05.10.2022,2,19.09.2022,81.36,A,8.0,Airbnb,2,One-Bedroom Apartment with Balcony and Sea View
77,HM8FMXPPJJ,Confirmed,Arev Demirci,+90 530 432 89 94,2,0,25.09.2022,27.09.2022,2,20.09.2022,91.06,D,0.0,Airbnb,2,One-Bedroom Apartment with Patio and Sea View
78,HMY5K2PWY8,Confirmed,Norbert Å»Yszkiewicz,+48 883 601 717,2,0,27.09.2022,29.09.2022,2,22.09.2022,91.06,D,0.0,Airbnb,2,One-Bedroom Apartment with Patio and Sea View

In [61]:
dataAirbnb2022['Accommodation'].unique()

array(['Studio with Patio',
       'One-Bedroom Apartment with Balcony and Sea View',
       'Studio with Patio and Sea View',
       'One-Bedroom Apartment with Patio and Sea View'], dtype=object)

In [62]:
not_common_columns = set(dataAirbnb2019.columns).symmetric_difference(set(dataAirbnb2022.columns))

print("Columns not common:", not_common_columns)

Columns not common: {'Contact'}

# 2023

In [63]:
dataAirbnb2023_1 = pd.read_csv('D://Master/SSP/Projekat/data/raw/2023/2023_air_bnb_cancelled.csv')
dataAirbnb2023_2 = pd.read_csv('D://Master/SSP/Projekat/data/raw/2023/2023_air_bnb_completed.csv')
dataAirbnb2023_3 = pd.read_csv('D://Master/SSP/Projekat/data/raw/2023/2023_air_bnb_upcoming.csv')

In [64]:
dataAirbnb2023_1.shape

(9, 13)

In [65]:
dataAirbnb2023_2.shape

(40, 14)

In [66]:
dataAirbnb2023_3.shape

(14, 13)

In [67]:
not_common_columns = set(dataAirbnb2023_1.columns).symmetric_difference(set(dataAirbnb2023_2.columns))

print("Columns not common:", not_common_columns)

Columns not common: {'Grade'}

In [68]:
not_common_columns = set(dataAirbnb2023_1.columns).symmetric_difference(set(dataAirbnb2023_3.columns))

print("Columns not common:", not_common_columns)

Columns not common: set()

In [69]:
dataAirbnb2023_1_3 = pd.concat([dataAirbnb2023_1, dataAirbnb2023_3], ignore_index=True)

In [70]:
dataAirbnb2023_1_3.columns

Index(['Confirmation code', 'Status', 'Guest name', 'Contact', '# of adults',
       '# of children', '# of infants', 'Start date', 'End date',
       '# of nights', 'Booked', 'Listing', 'Earnings'],
      dtype='object')

In [71]:
dataAirbnb2023_2.columns

Index(['Confirmation code', 'Status', 'Guest name', 'Contact', '# of adults',
       '# of children', '# of infants', 'Start date', 'End date',
       '# of nights', 'Booked', 'Listing', 'Earnings', 'Grade'],
      dtype='object')

In [72]:
dataAirbnb2023 = pd.concat([dataAirbnb2023_2, dataAirbnb2023_1_3], ignore_index=True)

In [73]:
dataAirbnb2023.columns

Index(['Confirmation code', 'Status', 'Guest name', 'Contact', '# of adults',
       '# of children', '# of infants', 'Start date', 'End date',
       '# of nights', 'Booked', 'Listing', 'Earnings', 'Grade'],
      dtype='object')

In [74]:
dataAirbnb2023.shape

(63, 14)

In [75]:
dataAirbnb2023.head()

,Confirmation code,Status,Guest name,Contact,# of adults,# of children,# of infants,Start date,End date,# of nights,Booked,Listing,Earnings,Grade
0,HMBTSBBDSD,Past guest,Lena Kanza,+49 176 78191494,2,0,0,9/18/2023,9/23/2023,5,4/26/2023,Apartment with patio and sea view,€ 308.48,8.4
1,HMQN3DACRZ,Past guest,Bruno Crupelandt,+33 6 72 51 81 97,2,0,0,9/19/2023,9/21/2023,2,7/23/2023,Beautiful studio with patio 5 min. to old town,€ 91.18,8.8
2,HMBC32W5AC,Past guest,Veronica Mercado,+61 421 135 563,2,0,0,9/15/2023,9/17/2023,2,5/14/2023,Studio with partial sea view 5 min to old town,€ 104.11,8.5
3,HM2XWX4HCF,Past guest,Dorothea Wolf,+49 179 7261589,2,0,0,9/13/2023,9/15/2023,2,1/22/2023,Studio with partial sea view 5 min to old town,€ 104.11,8.3
4,HMQHTRJ84P,Past guest,Peggy Ayme,+33 6 66 80 77 75,2,0,0,9/9/2023,9/11/2023,2,1/16/2023,Studio with partial sea view 5 min to old town,€ 104.11,9.2

In [76]:
not_common_columns = set(data2Airbnb2019.columns).symmetric_difference(set(dataAirbnb2023.columns))

print("Columns not common:", not_common_columns)

Columns not common: {'Listing name', 'Contact'}

In [77]:
dataAirbnb2023['Booked'].astype

<bound method NDFrame.astype of 0      4/26/2023
1      7/23/2023
2      5/14/2023
3      1/22/2023
4      1/16/2023
         ...
58    2023-09-08
59    2023-08-28
60    2023-09-17
61    2023-09-02
62    2023-09-05
Name: Booked, Length: 63, dtype: object>

In [78]:
dataAirbnb2023['Booked'].unique()

array(['4/26/2023', '7/23/2023', '5/14/2023', '1/22/2023', '1/16/2023',
       '7/19/2023', '4/20/2023', '8/8/2023', '8/27/2023', '8/24/2023',
       '7/2/2023', '6/28/2023', '4/8/2023', '8/22/2023', '5/3/2023',
       '8/10/2023', '5/30/2023', '6/23/2023', '6/25/2023', '2/4/2023',
       '4/16/2023', '7/11/2023', '1/26/2023', '3/11/2023', '2/17/2023',
       '5/10/2023', '11/28/2022', '6/7/2023', '3/10/2023', '7/8/2023',
       '4/9/2023', '2/20/2023', '5/8/2023', '1/8/2023', '7/12/2023',
       '1/29/2023', '6/13/2023', '2/2/2023', '12/17/2022', '12/28/2022',
       '3/24/2023', '2/23/2023', '2023-07-30', '2023-09-23', '2023-02-28',
       '2023-09-10', '2023-07-21', '2023-09-03', '2023-07-27',
       '2023-08-23', '2023-08-31', '2023-09-08', '2023-08-28',
       '2023-09-17', '2023-09-02', '2023-09-05'], dtype=object)

In [79]:
dataAirbnb2023['Status'].unique()

array(['Past guest', 'Canceled by guest', 'Currently hosting',
       'Confirmed'], dtype=object)

In [80]:
dataAirbnb2023['Listing'].unique()

array(['Apartment with patio and sea view',
       'Beautiful studio with patio 5 min. to old town',
       'Studio with partial sea view 5 min to old town',
       'Apartment with balcony and sea view'], dtype=object)

In [81]:
def processing2023(dataAirbnb):
    dataAirbnb['Advertiser'] = 'Airbnb'
    
    dataAirbnb = dataAirbnb[dataAirbnb['Booked'] <= dataAirbnb['Start date']]
    dataAirbnb = dataAirbnb[dataAirbnb['Start date'] < dataAirbnb['End date']]
    dataAirbnb['Start date'] = pd.to_datetime(dataAirbnb['Start date']).dt.strftime('%d.%m.%Y')
    dataAirbnb['End date'] = pd.to_datetime(dataAirbnb['End date']).dt.strftime('%d.%m.%Y')
    dataAirbnb['Booked'] = pd.to_datetime(dataAirbnb['Booked'], errors='coerce')
    dataAirbnb['Booked'] = dataAirbnb['Booked'].dt.strftime('%d.%m.%Y')
    
    dataAirbnb.drop_duplicates(subset=['Confirmation code'], keep='first', inplace=True)
    
    dataAirbnb['Guest name'].fillna('', inplace=True)
    dataAirbnb['Guest name'] = dataAirbnb['Guest name'].str.title()
    
    dataAirbnb['# of children'] = dataAirbnb['# of children'] + dataAirbnb['# of infants']
    dataAirbnb['# of people'] = dataAirbnb['# of adults'] + dataAirbnb['# of children']
    
    dataAirbnb.drop('# of infants', axis=1, inplace=True)
    
    dataAirbnb['Earnings'] = dataAirbnb['Earnings'].str.extract(r'(\d+.\d+)').astype(float)
    dataAirbnb['Earnings'] = round(dataAirbnb['Earnings'].astype(float) - dataAirbnb['# of nights']*dataAirbnb['# of people'], 2)
    
    dataAirbnb['Grade'].fillna(0, inplace=True)
    
#     dataAirbnb['Price_€'] = round(dataAirbnb['Earnings'].astype(float)*0.92, 2)
#     dataAirbnb['Price_RSD'] = round(dataAirbnb['Earnings'].astype(float)*107.76, 2)
    
    dataAirbnb['Status'] = dataAirbnb['Status'].replace({'Past guest': 'Confirmed', 
                                                        'Canceled by guest' : 'Cancelled',
                                                        'Currently hosting' : 'Confirmed'})
    
    dataAirbnb['Listing'] = dataAirbnb['Listing'].replace({'Studio with partial sea view 5 min to old town': 'Studio with Patio and Sea View', 
                                                        'Apartment with balcony and sea view' : 'One-Bedroom Apartment with Balcony and Sea View',
                                                        'Beautiful studio with patio 5 min. to old town' : 'Studio with Patio',
                                                        'Apartment with patio and sea view' : 'One-Bedroom Apartment with Patio and Sea View'})
    
    mapping = {'One-Bedroom Apartment with Balcony and Sea View' : 'A', 
               'Studio with Patio' : 'B', 
               'Studio with Patio and Sea View' : 'C',
               'One-Bedroom Apartment with Patio and Sea View' : 'D'}

    dataAirbnb['Accommodation Type'] = dataAirbnb['Listing'].replace(mapping)
    
    dataAirbnb.rename(columns={'Confirmation code': 'Book Number', 
                            'Guest name': 'Guest Name', 
                            '# of adults': 'NumberOfAdults', 
                            '# of children': 'NumberOfChildren', 
                            'Start date' : 'Start Date',
                            'End date': 'End Date',
                            '# of nights': 'NumberOfNights',
                            'Booked': 'Booked On',
                            '# of people': 'NumberOfPeople',
                            'Listing': 'Accommodation',
                            'Earnings': 'Price_DOLLAR'}, inplace=True)
    return dataAirbnb

In [82]:
dataAirbnb2023 = processing2023(dataAirbnb2023)

In [83]:
dataAirbnb2023.head()

,Book Number,Status,Guest Name,Contact,NumberOfAdults,NumberOfChildren,Start Date,End Date,NumberOfNights,Booked On,Accommodation,Price_DOLLAR,Grade,Advertiser,NumberOfPeople,Accommodation Type
0,HMBTSBBDSD,Confirmed,Lena Kanza,+49 176 78191494,2,0,18.09.2023,23.09.2023,5,26.04.2023,One-Bedroom Apartment with Patio and Sea View,298.48,8.4,Airbnb,2,D
1,HMQN3DACRZ,Confirmed,Bruno Crupelandt,+33 6 72 51 81 97,2,0,19.09.2023,21.09.2023,2,23.07.2023,Studio with Patio,87.18,8.8,Airbnb,2,B
2,HMBC32W5AC,Confirmed,Veronica Mercado,+61 421 135 563,2,0,15.09.2023,17.09.2023,2,14.05.2023,Studio with Patio and Sea View,100.11,8.5,Airbnb,2,C
3,HM2XWX4HCF,Confirmed,Dorothea Wolf,+49 179 7261589,2,0,13.09.2023,15.09.2023,2,22.01.2023,Studio with Patio and Sea View,100.11,8.3,Airbnb,2,C
5,HMCR589P4K,Confirmed,Jamie Carry,+32 488 44 49 10,2,0,03.09.2023,05.09.2023,2,19.07.2023,One-Bedroom Apartment with Balcony and Sea View,120.16,9.7,Airbnb,2,A

In [84]:
dataAirbnb2023['Grade'].unique()

array([8.4, 8.8, 8.5, 8.3, 9.7, 9.9, 8.7, 7.1, 7.6, 7.2, 8.2, 7.4, 8.6,
       9. , 9.6, 9.3, 8.1, 8. , 9.5, 7.7, 0. ])

# Merging

In [85]:
not_common_columns = set(dataAirbnb2019.columns).symmetric_difference(set(dataAirbnb2023.columns))

print("Columns not common:", not_common_columns)

Columns not common: {'Contact'}

In [86]:
dataAirbnb2019.shape

(19, 15)

In [87]:
dataAirbnb2020.shape

(6, 15)

In [88]:
dataAirbnb2021.shape

(5, 15)

In [89]:
dataAirbnb2022.shape

(79, 16)

In [90]:
dataAirbnb2023.shape

(47, 16)

In [91]:
mergedAirbnb = pd.concat([dataAirbnb2019, dataAirbnb2020, dataAirbnb2021, dataAirbnb2022, dataAirbnb2023], ignore_index=True)

In [92]:
mergedAirbnb.shape

(156, 16)

In [93]:
mergedAirbnb.head()

,Book Number,Status,Guest Name,NumberOfAdults,NumberOfChildren,Start Date,End Date,NumberOfNights,Booked On,Accommodation,Price_DOLLAR,Accommodation Type,Grade,Advertiser,NumberOfPeople,Contact
0,HMAMP59PS4,Confirmed,Youstina Daoud,2,0,03.06.2019,05.06.2019,2,30.03.2019,Studio with Patio,63.90,B,0.0,Airbnb,2,NaN
1,HMAMHWYDSW,Confirmed,Kristina Holm Jensen,2,0,05.06.2019,07.06.2019,2,05.05.2019,Studio with Patio,63.90,B,8.0,Airbnb,2,NaN
2,HMAC8EWZ3P,Confirmed,Ã–Znur Balaban,2,0,08.06.2019,09.06.2019,1,09.04.2019,Studio with Patio,31.95,B,0.0,Airbnb,2,NaN
3,HMANF23QWC,Confirmed,Steve Qj,1,0,10.06.2019,11.06.2019,1,01.06.2019,Studio with Patio,32.95,B,0.0,Airbnb,1,NaN
4,HMACJE5D9D,Confirmed,Quinten Spakman,2,0,13.06.2019,15.06.2019,2,04.05.2019,Studio with Patio,63.90,B,7.0,Airbnb,2,NaN

In [94]:
mergedAirbnb.drop_duplicates(subset=['Book Number'], keep='first', inplace=True)

In [95]:
mergedAirbnb.shape

(155, 16)

In [96]:
mergedAirbnb['Contact'].unique()

array([nan, '+27 83 226 9181', '+49 170 5236337', '+31 31625642536',
       '+33 6 43 39 11 81', '+91 99563 58674', '+49 1577 2018127',
       '+44 7931 806900', '+90 544 270 86 82', '+358 50 3834653',
       '+33 6 19 84 55 20', '+44 7563 612108', '+33 6 79 38 52 84',
       '+389 78 409 794', '+49 1511 4141596', '+90 551 589 10 32',
       '+33 6 84 27 85 92', '+44 7585 227036', '+49 176 32316351',
       '+44 7850 093592', '+33 6 38 51 92 40', '+31 6 43643456',
       '+34 685 78 75 24', '+44 7772 189814', '+49 1578 9134181',
       '+45 51 88 03 34', '+33 6 67 69 23 84', '+33 6 71 87 34 09',
       '+44 7846 642165', '+33 6 80 04 89 27', '+31 6 48576518',
       '+358 40 7021751', '+1 901-267-6089', '+31 6 30585740',
       '+44 7397 299786', '+65 8322 4546', '+33 6 30 69 74 95',
       '+45 28 12 00 74', '+33 6 15 14 30 23', '+33 6 43 07 72 59',
       '+61 450 059 972', '+33 6 25 40 95 86', '+374 94 987265',
       '+36 20 226 0548', '+49 173 2422152', '+90 530 906 39 56',
       '+33 6 46 46 90 37', '+32 471 81 12 37', '+46 73 030 98 81',
       '+44 7527 118185', '+33 6 67 75 95 22', '+33 6 68 57 28 56',
       '+358 40 0788414', '+49 173 8175938', '+61 422 014 620',
       '+44 7445 301777', '+44 7387 911012', '+49 163 7390941',
       '+65 8128 3882', '+1 416-488-2093', '+44 7464 130875',
       '+353 86 845 8614', '+49 163 6353729', '+49 162 4953314',
       '+32 488 44 49 10', '+49 1511 8950502', '+1 819-818-3002',
       '+44 7743 252563', '+32 497 80 54 29', '+380 97 657 1919',
       '+44 7514 251101', '+381 60 0700147', '+86 178 2423 7810',
       '+44 7880 618955', '+44 7902 892430', '+44 7391 733964',
       '+972 58-444-7959', '+90 530 432 89 94', '+48 883 601 717',
       '+49 176 78191494', '+33 6 72 51 81 97', '+61 421 135 563',
       '+49 179 7261589', '+44 7466 628963', '+1 603-455-0828'],
      dtype=object)

In [97]:
mergedAirbnb.rename(columns={'NumberOfPeople': 'Number Of People',
                            'NumberOfAdults': 'Number Of Adults',
                            'NumberOfChildren': 'Number Of Children',
                            'Commission %': 'Commission Percentage',
                            'NumberOfAdults': 'Number Of Adults',
                            'NumberOfNights': 'Number Of Nights',
                           }, inplace=True)

In [98]:
mergedAirbnb = mergedAirbnb[mergedAirbnb['Price_DOLLAR'] >= 0]

In [99]:
# mergedAirbnb.to_csv('C://Users/k/Desktop/files/file/MergedAirbnb.csv', index_label='Id')

In [103]:
# upis u fajl
# mergedAirbnb.to_csv('D://Master/SSP/Projekat/data/processed/ProcessedAirbnb.csv', index=False)